@import './_mixin';

body {
    margin: 0;
}

.guardian-force {
    display: flex;
    flex-wrap: wrap;
    margin: 24px;

    & .guardian-force--row {
        display: flex;
        flex: 1 1 180px;
        justify-content: space-between;
        margin: 12px;
    }
    & .guardian-force--ghost-0,
    .guardian-force--ghost-1,
    .guardian-force--ghost-2,
    .guardian-force--ghost-3,
    .guardian-force--ghost-4,
    .guardian-force--ghost-5,
    .guardian-force--ghost-6,
    .guardian-force--ghost-7 {
        display: none;
    }

    @media (min-width: 660px) {
        .guardian-force--ghost-0,
        .guardian-force--ghost-1 {
            display: inherit;
        }
    }

    @media (min-width: 1068px) {
        .guardian-force--ghost-2,
        .guardian-force--ghost-3 {
            display: inherit;
        }
    }

    @media (min-width: 1476px) {
        .guardian-force--ghost-4 {
            display: inherit;
        }
    }

    @media (min-width: 2292px) {
        .guardian-force--ghost-5 {
            display: inherit;
        }
    }

    @media (min-width: 2496px) {
        .guardian-force--ghost-6,
        .guardian-force--ghost-7 {
            display: inherit;
        }
    }

    @media (min-width: 864px) and (max-width: 1067px),
        (min-width: 1680px) and (max-width: 1883px) {
        .guardian-force--ghost-0,
        .guardian-force--ghost-1 {
            display: none;
        }
    }

    @media (min-width: 1272px) and (max-width: 1475px),
        (min-width: 1680px) and (max-width: 2087px) {
        .guardian-force--ghost-2,
        .guardian-force--ghost-3 {
            display: none;
        }
    }

    @media (min-width: 1680px) and (max-width: 2291px) {
        .guardian-force--ghost-4 {
            display: none;
        }
    }
}

.character {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px;

    & .character--row {
        margin: 12px;
        flex: 1 1 180px;
    }

    @media (min-width: 863px) {
        .character--row {
            flex: 1 1 247px;
        }
    }

    @media (min-width: 1132px) {
        .character--row {
            flex: 1 1 337px;
        }
    }

    @media (min-width: 1272px) {
        .character--row {
            flex: 1 1 180px;
        }
    }

    & .character--name {
        margin-bottom: 12px;
    }
}

.ability {
    & .ability--row {
        margin: 12px 0;
    }

    & .ability--title {
        margin: 6px 0;
    }

    & .ability--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 6px 0;
    }

    & .ability--item {
        margin-right: 12px;
    }
}
