@import './_mixin';

body {
    margin: 0;
}

.guardian-force {
    display: flex;
    flex-wrap: wrap;
    margin: 24px;

    & .guardian-force--row {
        display: flex;
        flex: 1 1 238px;
        justify-content: space-between;
        margin: 12px;
    }

    & .guardian-force--actions {
        margin: 0px 12px;
    }

    & .guardian-force--ghost-0,
    .guardian-force--ghost-1,
    .guardian-force--ghost-2,
    .guardian-force--ghost-3,
    .guardian-force--ghost-4,
    .guardian-force--ghost-5,
    .guardian-force--ghost-6,
    .guardian-force--ghost-7 {
        display: none;
    }

    @media (min-width: 834px) {
        .guardian-force--ghost-0,
        .guardian-force--ghost-1 {
            display: inherit;
        }
    }

    @media (min-width: 1358px) {
        .guardian-force--ghost-2,
        .guardian-force--ghost-3 {
            display: inherit;
        }
    }

    @media (min-width: 1882px) {
        .guardian-force--ghost-4 {
            display: inherit;
        }
    }

    @media (min-width: 2292px) {
        .guardian-force--ghost-5 {
            display: inherit;
        }
    }

    @media (min-width: 3192px) {
        .guardian-force--ghost-6,
        .guardian-force--ghost-7 {
            display: inherit;
        }
    }

    @media (min-width: 1096px) and (max-width: 1357px),
        (min-width: 2144px) and (max-width: 2405px) {
        .guardian-force--ghost-0,
        .guardian-force--ghost-1 {
            display: none;
        }
    }

    @media (min-width: 1620px) and (max-width: 1881px),
        (min-width: 2144px) and (max-width: 2667px) {
        .guardian-force--ghost-2,
        .guardian-force--ghost-3 {
            display: none;
        }
    }

    @media (min-width: 2667px) and (max-width: 2929px) {
        .guardian-force--ghost-4 {
            display: none;
        }
    }
}

.character {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px;

    & .character--row {
        margin: 12px;
        flex: 1 1 238px;
    }

    @media (min-width: 1096px) {
        .character--row {
            flex: 1 1 304px;
        }
    }

    @media (min-width: 1360px) {
        .character--row {
            flex: 1 1 413px;
        }
    }

    @media (min-width: 1620px) {
        .character--row {
            flex: 1 1 238px;
        }
    }

    & .character--name {
        margin-bottom: 12px;
    }
}

.ability {
    & .ability--row {
        margin: 12px 0;
    }

    & .ability--title {
        margin: 6px 0;
    }

    & .ability--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 6px 0;
    }

    & .ability--item {
        margin-right: 12px;
        margin-bottom: 6px;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 36px;

    & .menu--title {
        margin: 6px 0;
    }

    & .menu--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 6px 0;
    }

    & .menu--item {
        margin-right: 12px;
        margin-bottom: 6px;
        text-decoration: line-through;
    }

    & .menu--item-enabled {
        text-decoration: initial;
    }
}
