$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

@mixin desktop {
    @media (min-width: $tablet + 1px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-l {
    @media (max-width: $mobile-l) {
        @content;
    }
}

@mixin mobile-m {
    @media (max-width: $mobile-m) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: $mobile-s) {
        @content;
    }
}
