.abilities--row {
    margin: 12px 0;
}

.abilities--title {
    margin: 6px 0;
}

.abilities--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 6px 0;
}

.abilities--item {
    margin-right: 12px;
    margin-bottom: 6px;
}
